christophe.mp4
ReconnaissanceVisages/photos
ReconnaissanceVisages/non-classees
ReconnaissanceVisages/video8.mp4
ReconnaissanceVisages/video9.mp4
ReconnaissanceVisages/video10.mp4
ReconnaissanceVisages/Nariz.xml
ReconnaissanceVisages/haarcascade_frontalface_alt2.xml
ReconnaissanceVisages/haarcascade_frontalface-default.xml
ReconnaissanceVisages/mouth.xml
ReconnaissanceVisages/trainner.yml
reconnaissance-objet/ssd_mobilenet_v2_coco.engine
reconnaissance-objet/ssd_mobilenet_v2_coco.config
reconnaissance-objet/frozen_inference_graph.pb
Fruit-Images-Dataset
static
templates

*.h5
*.hdf5
*.xml
*.yml
*.mp4
*.png
*.jpg   # jpeg
images
checkpoint
cars.xml
fruit_classifier.csv.data-00000-of-00001
fruit_classifier.csv.index
fruit_classifier.csv.meta
fruits_fresh_cnn_1.h5
hichem_fruit.xml
hichembananetest2.xml
samplefruit.xml
fruitxmltest.xml
08mai2022.h5
modelrrrr0705.h5

test
train
*.jfif
.idea
model.h5
banane.mp4

*.yaml
*.pickle
